body{
    font-family: 'open sans', 'Helvetica Neue', Helvetica, sans-serif, serif
}
.game{
    width: 100%;
    bxorder: 1px solid red;
}

#divQuestion{
    background-color: teal;

}

#divQuestion{
    align-content: center;
    width: 100%;
    background-color: coral;
    border: 10px solid blue;
}

.Option:hover{
    background-color: red;
}
#divTimer{
    bxackground-color: black;
    color: green;
    font-size: 40pt;
    font-family: Rockwell, Rotobo, Arial, Helvetica, sans-serif;
}

.valixgn{
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
}