body {
    font-family: 'open sans', 'Helvetica Neue', Helvetica, sans-serif, serif;
}

.game {

    background-color: white;
}

#divQuestion {
    font-size: 150%;
    align-content: center;
    width: 100%;
    margin: 5px;
    padding: 5px;

}

.Option {
    border: 1px solid lightgray;
}

.Option:hover {
    background-color: lightgray;
}

#divTimer {
    color: green;
    font-size: 40pt;
    font-family: Rockwell, Rotobo, Arial, Helvetica, sans-serif;
}

.banner-area {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/goldengateBlur.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.panel-header {
    background-color: white;
}

.panel {
    width: 70%;
    margin-right: auto;
    margin-left: auto;


}

.winnerList {
    background-color: #ccc;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}

.headerWinners{
    font-family: Rockwell, Rotobo, Arial, Helvetica, sans-serif;
    color: white;
}

.scoreContainer{
    font-size: 150%;
    font-family: Rockwell, Rotobo, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
}

.timerContainer{
    font-size: 150%;
    font-family: Rockwell, Rotobo, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
}